.con-1 {
    height: 400px;
    width: 100vw;
    background-size: 100vw 500px;
    background-image: url(./images/images/background.jpg);
}

.bar {
    height: 50px;
    width: 100vw;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    background-color: white;
    top: 0;
}

.wide {
    background-image: url(http://wideopentech.com/themes/wot-2013-gm/_/img/wot-logo-whitex2.svg);
    background-repeat: no-repeat;
    background-size: 133px 31px;
    display: block;
    height: 31px;
    width: 100vw;
    margin-left: 140px;
}

.simple {
    margin-left: 2vw;
    font-family: 'Oswald', sans-serif;
    /*text-transform: uppercase;*/
    height: 40px;
    font-size: 20px;
    width: 100vw;
}

.first {
    height: 40px;
    font-size: 20px;
    width: 80vw;
    float: left;
    margin-right: -40vw;
    align-items: flex-end;
}

.digi {
    color: white;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    height: 0vh;
    width: 10vw;
    font-size: 20%;
    padding-top: 55px;
}

.direct {
    margin-right: 15px;
}

.jumbotron {
    height: 110px;
    width: 40vw;
    font-size: 100px;
    margin-left: 344px;
    color: white;
    margin-top: 0px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding-top: 85px;
    margin-bottom: 20px;
    padding-bottom: 50px;
}

.smally2 {
    height: 20px;
    width: 20px;
    font-size: 90%;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
}

.block {
    height: 20px;
    width: 20px;
    background-color: white;
}

.top {
    text-align: center;
    height: 150px;
    width: 100vw;
}

.uniform {
    height: 350px;
    width: 100vw;
    background-color: #F0F0F0;
    margin-top: 0px;
    float: left;
    text-align: center;
    align-content: center;
    text-align: center;
    margin-bottom: 60px;
}

.pics {
    margin-bottom: 30vh;
    height: 430px;
}

.bttm {
    height: 100px;
    width: 15vw;
    margin-top: 100px;
    margin-bottom: 0px;
    padding-left: 10px;
}

.prop {
    height: 290px;
    width: 100vw;
}

.prop2 {
    height: 20px;
    width: 60vw;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #7E787C;
    padding-left: 265px;
}

.font {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #7E787C;
    margin-bottom: 20px;
    font-size: 110%;
    margin-right: 0px;
}

.align2 {
    padding-left: 41px;
    margin-bottom: 65px;
}


}
.linee {
    margin-bottom: 70px;
}
.smalls {
    width: 20px padding-top: 10px;
    border-top-color: solid #F0F0F0;
    margin-top: 0px;
    border-top: solid #F0F0F0;
    border-width: 15px;
    color: #43696F;
    font-family: 'Oswald';
    padding-left: 0px;
    padding-top: 33px;
}
.spec {
    font-size: 190%;
}
.margin {
    margin-top: 20px;
}
.prop3 {
    height: 60vh;
    width: 65vw;
    background-color: white;
    padding-left: 24vw;
    padding-right: 10px;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/

    position: relative;
    margin-bottom: 0px;
}
.title {
    height: 110px;
    width: 60vw;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #7E787C;
    margin-left: 260px;
    margin-top: 80px;
    align-self: center;
}
.title h2 {
    position: relative;
    bottom: 85px;
}
em {
    font-style: normal;
    color: #BDD436;
}
.orange {
    color: orange;
}
.prop4 {
    height: 610px;
    width: 100vw;
    align-content: center;
}
.col {
    height: 275px;
    width: 17vw;
    font-size: 13px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #C4CBCD;
    border-right: solid grey;
    border-right-width: .5px;
    float: left;
    position: relative;
    top: 5px;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0px;
}
.logo {
    height: 80px;
    width: 80px;
    position: absolute;
    align-self: center;
    margin-left: -55px;
}
.hide {
    height: 400px;
    width: 18vw;
    border-right-color: white;
}
.help {
    height: 360px;
    width: 25vw;
    float: left;
    background-color: white;
    margin-left: 24vw;
    margin-top: 20px;
    align-content: center;
    border-radius: 25px;
}
.c1 {
    height: 360px;
    width: 25vw;
    float: left;
    margin-left: 25px;
}
.c2 {
    height: 80px;
    width: 19vw;
    margin-top: 0px;
    border-top: solid #F0F0F0;
    border-width: 0px;
    color: #43696F;
    font-family: 'Oswald';
}
.group {
    padding-left: 0px;
    font-size: 65%;
    padding-top: 15px;
    color: grey;
    font-family: cursive;
}
.align {
    height: 80px;
    width: 25vw;
    border-width: 13px;
    float: left;
    padding-left: 0px;
}
.bottom {
    height: 50px;
    width: 100px;
    align-self: baseline;
    margin-left: -105px;
    margin-top: 13vh;
}
.green {
    background-color: #bdd436;
    border: 2px solid #bdd436;
    color: white;
    font-size: 17px;
    letter-spacing: 1px;
    border-radius: 25px;
    padding: 5px;
    padding-right: 25px;
    padding-left: 25px;
    font-family: 'Oswald';
    font-weight: bold;
    text-decoration: none;
}
.companies {
    height: 80px;
    width: 100vw;
    background-color: white;
    text-align: center;
    font-family: 'Oswald';
    color: darkslategrey;
    font-size: 150%;
    margin-bottom: 50px;
    padding-left: 0px;
    margin-top: -65px;
}
.col-1 {
    height: 50vh;
    width: 33vw;
    border-right-width: .1px;
    border-right-color: black;
    border-right-style: solid;
    float: left;
}
.img-sizing {
    display: block;
    height: 50vh;
    width: 33vw;
    max-width: 100%;
}
.col-2 {
    height: 200px;
    width: 33vw;
    border-right-width: .1px;
    border-right-color: black;
    border-right-style: solid;
    border-top: .1px solid black;
    float: left;
    margin-bottom: 20px;
}
.prop5 {
    height: 150px;
    width: 100vw;
    background-color: #40666D;
    float: left;
    margin-bottom: 0px;
}
.talk {
    height: 120px;
    width: 50%;
    float: left;
    text-align: left;
}
.button1 {
    background-color: #bdd436;
    border: 2px solid #bdd436;
    color: white;
    font-size: 17px;
    letter-spacing: 1px;
    border-radius: 25px;
    padding: 5px;
    padding-right: 25px;
    padding-left: 25px;
    font-family: 'Oswald';
    font-weight: bold;
    text-decoration: none;
    width: 5vw;
    text-align: center;
    margin-left: 20vw;
    margin-top: 50px;
}
.talk2 {
    padding-left: 20vw;
    font-family: 'Oswald';
    color: white;
    font-weight: bold;
    font-size: 133%;
}
.neat {
    margin-top: -15px;
    border-bottom-color: #bdd436;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    padding-left: 0vw;
    margin-left: 20vw;
    margin-right: 5vw;
    font-size: 145%;
}
.info {
    height: 300px;
    width: 49vw;
    float: left;
    align-content: left;
}
.prop6 {
    height: 350px;
    width: 49vw;
    float: left;
    border-right: .1px solid black;
    background-image: url(./images/images/smallbackground1.jpg);
    background-size: 50vw 350px;
}
.prop7 {
    height: 350px;
    width: 50vw;
    float: left;
    border-right: .1px solid black;
    background-image: url(./images/images/smallbackground2.jpg);
    background-size: 50vw 350px;
}
.background {
    height: 350px;
    width: 50vw;
}
.address {
    height: 135px;
    width: 350px;
    background-color: black;
    margin-left: 10vw;
    margin-top: 10vh;
    border-radius: 25px;
    opacity: .5;
}
.aline {
    margin-left: 0px;
}
.righty {
    margin-left: 175px;
    width: 355px;
}
.pic {
    align-self: center;
    height: 50px;
    width: 50px;
    margin-left: 0px;
    margin-bottom: 50px;
    padding-left: 0px;
}
.med-heading {
    text-align: left;
    font-family: 'Oswald';
    font-size: 130%;
    color: #bdd436;
    font-weight: normal;
    margin-left: 25px;
    opacity: 1;
}
.small-info {
    font-family: monospace;
    font-size: 100%;
    color: white;
    font-weight: lighter;
}
